<div class="row">
    <div class="col-md-6" ng-repeat="item in items">
        <div class="panel panel-default">

            <div class="panel-heading">
                {{item.Code}}
            </div>
            <div class="panel-body">
                <div style="border-style: solid">
                    <TextBlock Code={{item.Code}} />HELLO WORLD
                </div>
                <small>Last Edit: {{item.EditedBy.UserName}} {{item.Edited | date: 'dd/MM/yyyy'}}</small>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-default" ng-click="items.push({})">Add</button>